html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

body {
  
  color:white;
  width: 600px;
  margin:auto;
}

div {
  font-family: 'Diplomata SC', cursive;
  font-size: 80px;
  
  position: absolute;
  top:45%;
  
}